link/.config/JetBrains/
link/.config/autostart/
link/.config/configstore/
link/.config/dconf/
link/.config/enchant/
link/.config/epiphany/
link/.config/evolution/
link/.config/gatsby/
link/.config/github-copilot/
link/.config/gtk-3.0/
link/.config/jgit/
link/.config/mimeapps.list
link/.config/protonvpn/
link/.config/pulse/
link/.config/qBittorrent/
link/.config/systemd/
link/.config/user-dirs.dirs
link/.config/user-dirs.locale
link/.config/yarn/

link/.config/gh/*
!link/.config/gh/config.yml

link/.config/nvim/*
!link/.config/nvim/init.vim

link/.gnupg/*
!link/.gnupg/gpg-agent.conf
!link/.gnupg/gpg.conf
!link/.gnupg/sshcontrol

link/.ssh/*
!link/.ssh/allowed_signers
!link/.ssh/authorized_keys
